//Bulma variables customisation
$primary : #9aca42;
$green-layer : rgba(155,203,67,0.4);
$brown-layer : rgba(131,92,36,0.8);

$dark : #835c24;
$black: $dark;
$link : $primary;
$orange : hsla(32,100,50,1);
$orange-layer : hsla(32,100,50,0);
$gradient-layer : linear-gradient($brown-layer, $orange-layer, $orange-layer);

$info : $orange;
$navbar-item-color: $info;
$navbar-dropdown-item-color: $navbar-item-color;

.hero {
    background-image:  $gradient-layer, url(img/ecureuil1.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}
/*
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background : $background-filter;
}
*/

.navbar-item{
    color: $orange;
}

.home-section > .title {
    display: inline-block;
    background: $dark;
    color: white;
    padding: 5px;
}

footer{
    background: $dark;
}

.hero .title {
    text-shadow: 0 3px 5px $orange;
}


@import "bulma/bulma.sass";

