//Bulma variables customisation
$primary : orangered;
$primary-layer : rgba(255,69,0,0.7);
$transparent-layer : rgba(131,92,36,0);
$gradient-layer : linear-gradient($primary-layer, $transparent-layer, $transparent-layer);
$dark : #835c24;
$link : $primary;
$navbar-item-color: $dark;
$dropdown-item-color : $dark;


.hero {
    background-image: $gradient-layer, url(img/ecureuil1.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}
/*
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background : $background-filter;
}
*/

.home-section > .title {
    display: inline-block;
    background: $dark;
    color: white;
    padding: 5px;
}

h1{
    display: inline-block;
}

footer{
    background: $dark;
}

@media screen and (min-width: 500px){
    .hero {
        height : 600px;
    }
}

@media screen and (min-width: 1210px){

    .hero {
        height : 900px;

        h1.title.is-1{
            font-size: 170px;
        }

        P.subtitle{
            font-size: 100px;
        }
    }
}

@import "bulma/bulma.sass";


